body{
    margin:auto;
}
.inner-container{
    width:1200px;
    margin:auto;
}
.grayColor{
    background-color:#e9edc9;
}
/* order starts */
.orderFixedContainer{
    width:1200px;
    max-height:800px;
    margin:auto;
}
.order{
    background-image: url("../../../images/image01.jpg");
    background-size:cover;
    
}
.order-header{
    margin:25% 0;
    height:max-content;
    width:100%;
    font-size:30px;
}
.order-input{
    width:50%;
    margin:auto;
}
.gps{
    background-image:url()
}
.form-select{
background-image: none;
margin-right: 0px;
margin-left: 0px;
border-radius:0.25rem 0 0 0.25rem;
border-right:0;
}
.location{
    max-height:37.994px;
    min-width:38px;
    border-radius: 0 0.25rem 0.25rem 0;
    border:1px solid #ced4da;
    border-left: 0px;
    background-color: white;
    background-image: url("../../../images/image07.jpg");
    background-repeat: none;
    background-size: cover;

}
.none{
    display:none;
}
/* order ends  */
/* sections start */
.card-container{
    width:1200px;
    height:200px;
}
/* sections end  */
/* footer starts */
.footer{
    background-color:#262626;
}
/* footer ends  */
/* first footer starts */
.first-footer-container{
    width:1200px;
    color:#999999;
}
.f-f-label{
    font-size:19px;
    margin:40px;
}
.f-f-label-1{
    font-size:19px;
    margin:40px 40px 40px 0;
}
.f-f-label-6{
    font-size:19px;
    margin:40px 0 40px 40px;
}
.hz-line{
    color:#999;
    margin:0;
}
/* first footer ends */
/* second footer starts  */
.second-footer-container{
    padding:12px;
    color: #999;
    margin:auto;
    width:1200px;
}
.s-f-label{
    font-size:19px;
    margin:30px 125px 30px 0;

}

/* second footer ends  */

/* third footer starts  */

.third-footer-container{
    width:1200px;
    margin:auto;
    color:white;
    padding:12px;
}
.third-footer-inner-container{

}
.t-f-label{
    font-size:19px;
    margin:30px 90px 30px 0;
}

/* third footer ends  */
